name: Deploy Static Website to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to IIS
        run: |
          $webRoot = "C:\inetpub\wwwroot"
          
          # Remove old files
          Remove-Item "$webRoot\*" -Recurse -Force
          
          # Copy new files
          Copy-Item -Path "${{ github.workspace }}\*" -Destination $webRoot -Recurse -Force
