name: Deploy to IIS
on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Remove old files
        run: Remove-Item -Recurse -Force "C:\inetpub\wwwroot\*" -ErrorAction SilentlyContinue
        shell: powershell

      - name: Copy new files
        run: Copy-Item -Path ".\*" -Destination "C:\inetpub\wwwroot\" -Recurse -Force
        shell: powershell

      - name: Ensure Default Document Exists
        run: |
          Import-Module WebAdministration
          $site = "Default Web Site"
          $defaultDocExists = (Get-WebConfigurationProperty -PSPath "IIS:\Sites\$site" -Filter "system.webServer/defaultDocument/files" -Name value | Where-Object {$_.value -eq "index.html"})
          if (-not $defaultDocExists) {
              Add-WebConfigurationProperty -pspath "IIS:\Sites\$site" -filter "system.webServer/defaultDocument/files" -name "." -value @{value="index.html"}
          }
        shell: powershell
